* {
	line-height: 0;
}

html {
	-webkit-font-smoothing: antialiased!important;
	-moz-osx-font-smoothing: grayscale!important;
	/*-ms-font-smoothing: antialiased!important;*/
}

body {
	--bs-body-font-family: var(--bs-font-monospace);
	--bs-body-line-height: 1.4;
	--bs-body-bg: var(--bs-gray-100);

	width: 300px;
	height: 500px;
}

p {
	margin: 0;
}

.enable {
	opacity: 1;
}
.disable {
	opacity: 0;
}

#logo {
	padding: 0;
	margin: 0;
}

.open_settings_button, .close_settings_button {
	font-size: 50px;
}
.settings_window {
	transition: all 2s;
}